{{#partial "header"}}
    <h1>New Destination!</h1>
{{/partial}}

{{#partial "content"}}

<div>
    <h1>Add a new Destination!</h1>
    <form action="/" method="post">
        <label for="newDestination">Destination: </label>
        <input type="text" id="newDestination" name="newSpot" required>
        <button class="btn btn-primary">Add</button>
    </form>
</div>


{{/partial}}

{{> layout.hbs}}